html, body {
  height: 100%;
  margin: 0;
}

body {
  background: aliceblue;
  font-family: Arial, sans-serif;
}

a {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full height of viewport */
}

.display {
  flex: 1; /* fill remaining height */
  width: 60%;
  margin: 0 auto;
  background-color: white;
  text-align: left;
  font-family: "CMU Serif", serif;
}

.site-footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 0.9rem;
}

.heading{
  color: blue;
  font-size: larger;
  font-style: bolder;
}

.subheading{
  color: rgb(202, 33, 155);
  font-style:italic;
  font-size: large;
}

.subsubheading{
  font-style:italic;
  color:red;
}

.block{
  margin-left: 15px;
  margin-right:15px;
}

.subblock{
  margin-left:0px;
  margin-top:0px;
  margin-bottom:10px;
}

.subsubblock{
  margin-left:0px;
}

.title{
  font-size: larger;
  text-align: center;
}

.site-header {
  background-color: skyblue;
  width: 60%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: x-large;
}

#copyright{
  width: 60%;
  margin: 0 auto;
  background-color: rgb(190, 160, 160);
}

.navbar {
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  background-color: #efc60d;
}

.navbar a {
  padding: 0px 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #575757;
}